body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/540/538/540/old-travel-photography-wallpaper-preview.jpg");
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
  position: relative; /* Necesario para posicionar elementos hijos sobre el fondo */
  color: white;
}

/* Capa de color semi-transparente */
body::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  z-index: -1;
}
.id1 {
  margin: 40px auto 10px;
  width: 350px;
  height: 380px;
  border: #e0c097 solid 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  line-height: 30px;
}
.id1 input {
  margin: 0px;
  width: 175px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container{
  margin: 40px auto 10px;
  width: 355px;
  height: 460px;
  border: #e0c097 solid 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  line-height: 20px;
}

/* .id2 {
  margin: 40px auto 10px;
  width: 350px;
  height: 380px;
  border: #e0c097 solid 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  line-height: 20px;
} */
.form-container input {
  margin: 10px;
  width: 221px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#registro {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}
* {
  margin: 0;
  box-sizing: border-box;
}

.add-button{
  background-color: #e0c097;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: solid;
  font-weight: bold;
  font-size: 18px;
}
.add-button:hover {
  background-color: white;
  border: 2px solid #e0c097;
  color: black;
}
.cancel-button{
  background-color: #e0c097;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: solid;
  font-weight: bold;
  font-size: 18px;
}
.cancel-button:hover {
  background-color: white;
  border: 2px solid #e0c097;
  color: black;
}

#registrate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #e0c097;
  color: white;
  border-right: 0px;
  border-left: 0px;
  font-size: 20px;
  padding: 8px;
}
#botonCuenta {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #b97a;
}
#botonCuenta:hover {
  background-color: black;
  color: white;
}
#textarea1 {
  width: 175px;
  height: 60px;
}


.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -30px;
  padding: 10px;
  border: 2px solid #e0c097;
  height: 752px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  width: 165px;
}

.sidebar-menu li {
  margin: 40px auto;
  text-align: end;
  border: 2px solid #e0c097;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  cursor: pointer;
}
#img {
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

.user-info {
  text-align: center;
  padding: 20px 0;
}




